<tradingview-widget [widgetConfig]="widgetConfig"></tradingview-widget>

<!-- TradingView Widget BEGIN -->
<!-- <div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright">
        <a rel="noreferrer" href="https://in.tradingview.com/chart/?symbol=NSE%3ANIFTY" rel="noopener" target="_blank">
        <span class="blue-text"></span></a> by TradingView</div>
    <div #tradingview class="tvWrapper mx-auto" style="width: 992px !important;"></div>
  </div>

  <style>
    .tvWrapper > div{
        width: 992px !important;
        min-width: 992px !important;
        margin: 0;
    }
  </style> -->