<router-outlet></router-outlet>

<!-- ################################################################ -->

<!-- <div class="w-100 overflow-x-scroll m-3">
  <table class="table table-striped table-responsive table-bordered mt-5">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Code</th>
        <th>Industry</th>
        <th>Name</th>
        <th>Price (CMP)</th>
        <th>Price Change (%)</th>
        <th>Low/High</th>
        <th>52 Week Low/High</th>
        <th>All time Low/High</th>
        <th>Quality</th>
        <th>Score</th>
        <th>Action</th>
        <th>Valuation</th>
        <th>Fin Trend</th>
        <th>Tech Trend</th>
        <th>Action</th>
        <th>Returns</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let script of mojoData.data.list | keyvalue; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ script.key }}</td>
        <td>{{ script.value.indname }}</td>
        <td>{{ script.value.sname }}</td>
        <td>{{ script.value.cmp }}</td>
        <td [ngStyle]="{ color: script.value.chg < 0 ? 'red' : 'green' }">
          {{ script.value.chg }}&nbsp;({{ script.value.chgp }})
        </td>
        <td>{{ script.value.day.low }} / {{ script.value.day.high }}</td>
        <td>{{ script.value.week52.low }} / {{ script.value.week52.high }}</td>
        <td>{{ script.value.altm.low }} / {{ script.value.altm.high }}</td>
        <td [ngStyle]="{ color: script.value.dotsum.q_clr }">
          {{ script.value.dotsum.q_txt }}
        </td>
        <td>{{ script.value.dotsum.current_final_score_41 }}</td>
        <td>{{ script.value.dotsum.current_final_score_grade_41 }}</td>
        <td [ngStyle]="{ color: script.value.dotsum.v_clr }">
          {{ script.value.dotsum.v_txt }}
        </td>
        <td [ngStyle]="{ color: script.value.dotsum.f_clr }">
          {{ script.value.dotsum.f_txt }}
        </td>
        <td [ngStyle]="{ color: script.value.dotsum.tech_clr }">
          {{ script.value.dotsum.tech_txt }}
        </td>
        <td>
          <table class="table table-striped table-responsive table-bordered">
            <thead>
              <tr>
                <th *ngFor="let act of script.value.action.list">
                  {{ act.header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let act of script.value.action.list">
                  {{ act.msg }}
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <table class="table table-striped table-responsive table-bordered">
            <thead>
              <tr>
                <th *ngFor="let ret of script.value.returns | keyvalue | changeIndex">
                  {{ ret.key | returnHeader}}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td *ngFor="let ret of script.value.returns | keyvalue | changeIndex" [ngStyle]="{ color: ret.value.dir < 0 ? 'red' : 'green' }">{{ ret.value.val }}</td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
