<!-- <p>trading works!</p> -->

<!-- {{getCallAlertsData | json}} -->

<div class="container">
  <div class="tabsWrapper my-4 row">
    <div class="col mb-2">
      <div class="tabs">
        <ng-container *ngFor="let item of tabsData; index as i">
          <input
            type="radio"
            id="radio-{{ item.value }}"
            name="tabs"
            class="tabRadioInp"
            [(ngModel)]="selectedRadio"
            [value]="item.value"
            (change)="changeTabActiveInactive(item.value)"
          />
          <label
            class="tab"
            for="radio-{{ item.value }}"
            [ngClass]="{ selectedTab: selectedRadio == item.value }"
            >{{ item.value }}</label
          >
        </ng-container>
      </div>
    </div>
    <div class="col text-center my-auto">
      <div class="row" *ngIf="updatedTime">
        <div class="px-1 col-4 labelTxt">Last Updated</div>
        <div class="px-1 col-8"><span class="bg-secondary text-white py-1 px-2 border-1 rounded-pill">{{ updatedTime | date : "MMM d, y, h:mm:ss a" }}</span></div>
      </div>
    </div>
  </div>

  <div class="dataWrapper">
    <div class="row">
      <div class="col-md-6" *ngFor="let call of renderData">
        <div class="card rounded-3 cardShadow border-0 mb-4">
          <div class="d-flex justify-content-between">
            <div class="bg-warning callCurrStatusDiv text-start px-2" *ngIf="call.reason == 'TARGET HIT'">Closed</div>
            <div class="callCurrStatusDiv px-2" *ngIf="call.reason" [ngClass]="reasonClass(call.reason)">{{ call.reason | titlecase }}</div>
          </div>
          <div class="card-body">
            <div class="row mx-0">
              <div class="col-md-7">
                <div class="row mb-1">
                  <div class="px-1 col-6 labelTxt">Company</div>
                  <div class="px-1 col-6 valueTxt" (click)="copyToClipboard(call.sname)">{{ call?.sname }}</div>
                </div>
                <div class="row mb-1" *ngIf="call?.prob_success">
                  <div class="px-1 col-6 labelTxt">Probability</div>
                  <div class="px-1 col-6" [ngClass]="(call.prob_success_color=='green')?'text-success':'text-danger'">{{ call?.prob_success.split(':')[1] }}</div>
                </div>
                <div class="row mb-1">
                  <div class="px-1 col-6 labelTxt">CMP</div>
                  <div class="px-1 col-6">{{ call?.cmp }}</div>
                </div>
                <div class="row mb-1">
                  <div class="px-1 col-6 labelTxt">SL</div>
                  <div class="px-1 col-6">{{ call?.SL }}</div>
                </div>
                <div class="row mb-1">
                  <div class="px-1 col-6 labelTxt">Target Price</div>
                  <div class="px-1 col-6">{{ call?.tprice }}</div>
                </div>
                <div class="row mb-1" *ngIf="call?.pattern_date">
                  <div class="px-1 col-5 labelTxt">Pattern Date</div>
                  <div class="px-1 col-7 valueTxt">
                    {{ call?.pattern_date }}
                  </div>
                </div>
                
              </div>
              <div class="col-md-5">
                <div class="row mb-1">
                  <div class="px-1 col-6 labelTxt">Date</div>
                  <div class="px-1 col-6">{{ call?.calltime }}</div>
                </div>
                <div class="row mb-1">
                  <div class="px-1 col-6 labelTxt">Type</div>
                  <div class="px-1 col-6">{{ call?.type }}</div>
                </div>
                <div class="row mb-1" *ngIf="call?.reco_price">
                  <div class="px-1 col-6 labelTxt">Record Price</div>
                  <div class="px-1 col-6">{{ call?.reco_price }}</div>
                </div>
                <div class="row mb-1" *ngIf="call?.potential">
                  <div class="px-1 col-6 labelTxt">Potential</div>
                  <div class="px-1 col-6" [ngClass]="(call.pcolor=='green')?'text-success':'text-danger'">
                    {{ call?.potential }}%
                  </div>
                </div>
                <div class="row mb-1">
                  <div class="px-1 col-6 labelTxt">Performance</div>
                  <div class="px-1 col-6" [ngClass]="(call.perfColor=='green')?'text-success':'text-danger'">{{ call?.performance }}%</div>
                </div>

                <div class="row mb-1"*ngIf="call?.reason != 'TARGET HIT'">
                  <div class="px-1 col-6 labelTxt">Remaining</div>
                  <div class="px-1 col-6 " [ngClass]="(call.perfColor=='red')?'text-muted bg-info':''">{{ (call.potential - call?.performance) | number:'1.2-2' }}%</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
